<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B14FF0F1E39E99000C1B225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B14FF281E39E99100C1B225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B14FF331E39E99100C1B225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
